.header {
    padding: 20px;
    margin: 0;
    background: #659DBD;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;}

.h1 {
    font-size: 28px;
}

.header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', monospace;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text p {
    margin-top: -10px;
    font-size: 20px;
}